@font-face {
  font-family: 'Noto Sans';
  src: url('https://cdn.jsdelivr.net/gh/AyoNabung/assets@latest/fonts/notosans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://cdn.jsdelivr.net/gh/AyoNabung/assets@latest/fonts/notosans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
